!Makefile

*.meta
# Binaries for programs and plugins
*.so
*.dylib
*.test
.DS_Store
*.db

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.pb.go
*.micro.go
vendor
*.
.vscode

*.log
*.log.*
.idea
test
temp
learn-test
